@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconClass="material-icons"
                ErrorIconName="error_outline"
                InfoIconName="school"
                SuccessIconName="done_outline"
                WarningIconName="warning" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
