@inherits BlazoredToastsBase

@if (ToastList.Any())
{
    <div class="toast-container @Css">
        <CascadingValue Value=this>
            @foreach (var toast in ToastList)
            {
                @toast.Value
            }
        </CascadingValue>
    </div>
}
