@if (ToastList.Any())
{
    <div class="blazored-toast-container @PositionClass">
        <CascadingValue Value=this IsFixed="true">
            @foreach (var toast in ToastList.OrderBy(x=>x.TimeStamp))
            {
                if (toast.CustomComponent is not null)
                {
                    <BlazoredToast @key="toast" ToastId="toast.Id" Settings="toast.ToastSettings">
                        @toast.CustomComponent
                    </BlazoredToast>
                }
                else
                {
                    <BlazoredToast @key="toast" 
                                   ToastId="toast.Id" 
                                   Message="toast.Message"
                                   Level="toast.Level"  
                                   Settings="toast.ToastSettings" />
                }
            }
        </CascadingValue>
    </div>
}
