@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                ErrorIcon="fa fa-bug" 
                InfoIcon="fa fa-info"
                SuccessIcon="fa fa-thumbs-up"
                WarningIcon="fa fa-stop-circle"
                />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
